<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sharepricealerts.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b15a6a0b-b80f-449b-b736-668184f1ad82/resourceGroups/ServerlessFuncs/providers/Microsoft.Web/sites/SharePriceAlerts</ResourceId>
    <UserName>$SharePriceAlerts</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://sharepricealerts.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>